* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 25px;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #1C1C1C;
    font-family: "Press Start 2P", system-ui;
}

#canvas {
    width: 600px;
    height: 600px;
    font-weight: 400;
    filter: contrast(0.9);
    font-family: "Press Start 2P", system-ui;
}

